
body{
    background-color:hsl(218, 28%, 13%);
    background-image: url(./images/ );
    Family: [Raleway](https://fonts.google.com/specimen/Raleway);
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .nav_bar{
        width: 100%;
        padding: 2px;
        display: flex;
        justify-content:space-around ;  
    }
    .nav_list_container{
        width: 50%;
        padding-left:5px;
    }
    .logo{
    width: 30%;
    height: 100%;

    }
    .logo_image{
        margin: auto;
        width: 100%;
        padding-top: 5px;
        margin-top: 5px;

    }
    
    .nav_list{
        color: rgba(255, 255, 255, 0.705);
        display: flex;
       width:90%;
       text-align: start;
       margin-top:25px;
       justify-content: space-around;
        
        
        
    }
    .nav_list_item{
        list-style-type:none;
        width: 25%;
        text-align:center;
    }
    .file_image{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;
    }
    .head_image{
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    .fylo_description{
      margin-bottom:40px ;
        color: white;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }
    .fylo_description_1{
        height: auto;
        font-weight: 14px;
        font-size:30px;
        text-align: center;
     
    }
    .fylo_description_2{
        width:80%;
        height: 30%;
        margin-left: auto;
        margin-right: auto;
        size: 30px;
    }
    .btn_1{
       
        width: 60%;
        size: 30px;
        font-weight: bolder;
        color: white;
        border-radius: 20px;
        border: turquoise 0px;
        height:45px;
        background-color: rgba(42, 226, 208, 0.781);
    }

    .fylo_services_container{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        color: white;
        width: 80%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .icon{
        margin: 10px;
    }
    .fylo_services_1 .file_service_2{
        margin:20px;
    }
    .fylo_services_description{
        width: 90%;
        text-align: center;
        font-size: 18px;
        margin:20px;
    }
    .fylo_explainer_container{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        
    }
    .fylo_explainer_image_container{
        width: 100%;


    }
    .fylo_explainer_image{
        width: 90%;
    }
    .fylo_explainer_info_container{
        color: rgba(255, 255, 255, 0.678);
        margin: 30px;
    }
    .fylo_explainer_info_head{
        margin: 20px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .fylo_explainer_info_p1{
        text-align: start;
        margin: 20px;
        font-size:17px;
    }
    .fylo_link{
        width: 33%;
        display: flex;
        align-items: inherit;    
        text-decoration: none;
        color: rgba(156, 240, 240, 0.685);
        border-bottom: 1px solid cyan;
        font-size: 14px;
        padding-bottom: 3px;
        text-align:start;
        margin-left: 20px;

    }
    .arrow{
        height: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .testimonials_container{
        display: flex;
        width: 90%;
        text-align:center;
        justify-content: center;
        flex-direction:column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding-top: 30px;
        background-image: url(./images/bg-quotes.png);
        background-repeat: no-repeat;
        background-position-x: 30px;
        background-position-y: top ;

    }
    .testimonial-slides{
        width: 65%;
        margin: 10px;
        background-color:hsl(219, 30%, 18%);
        color: rgba(252, 250, 250, 0.692);
        padding:30px;
        margin-left: auto;
        margin-right: auto;
        border-radius:5px ;
        
       
    }
    .testimonial_info{
        font-size: 17px;
        text-align: start;
        margin-left: auto;
        margin-right: auto;
        margin-top:0px;
    }
    .details{
        display: flex;
        width: 70%;
        height:35px;
        justify-content: space-around;
     

    
    }
    .priflie_pic{
        border-radius: 50%;
        width:20%;
        margin-right:5px;
        margin-top:0px;
       
    }
    .titles_container{
        display: flex;
        text-align: left;
        flex-direction:column;
        justify-content: flex-start;
        height: 100%;
        margin-top:0px;
    }
    .name{
        margin: 0px;
        font-weight: bolder;
    }
    .title{
        margin: 0px;
        width: 100%;
        font-size: 14px;
    }
    .sign_up_box_container{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 50px;
        width: 90%;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: hsl(217, 28%, 15%);
    }
    .sign_up_box_header{
        color: rgb(250, 250, 250);
        text-align: center;
        font-size:35px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .sign_up_box_descptn{
        color: white;
        text-align: center;
        font-size:20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .sign_up_box_input{
    display: flex; 
    flex-direction: column;
    margin: 10px; 
    
 }

   .email_field{
       margin: 10px;
       width: 95%;
       height: 45px;
       border-radius:20px;
       border:1px solid white;
       margin-left: auto;
       margin-right: auto;
       
   }
   .sign_up_button{
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 95%;
    height: 45px;
    border-radius:20px;
    border:1px solid rgb(46, 190, 190);
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(46, 190, 190);
    
   }
   .footer-container{
       margin-top: 30px;
       padding: 10px;
   }
   .footer_logo{
    width: 45%;
    margin: 20px;
    height: 60px;
   }
   .footer_nav{
       border: 1px solid white;
       display: flex;
       flex-direction: column;
       width:80%;
   }
   li{
       list-style: none;
       color: rgba(255, 255, 255, 0.836);
       text-decoration: none;
       padding: 10px;
       padding-left: 0px;
       margin-left: 0px;
       

   }
   a{
       text-decoration: none;
       color: rgba(255, 255, 255, 0.836);
       margin:0px ;
       font-size: 15px;

   }
   .location_description{
       width: 80%;
       margin-top:0px;
   }
   .footer_nav_container{
    margin: 10px;
    text-align: start;

   }
   .location{
       display: flex;
       align-items:baseline;
       justify-content:space-around;
       text-align:;
       color: rgba(255, 255, 255, 0.836);
       font-family: serif;
   }
   .location_image{
       margin-top: px;
   }
   .conatct_container_item{
       display: flex;
       flex-direction:flex;
       justify-content: space-around;
       align-items:center;
       margin-right:40px;
       color: rgba(255, 255, 255, 0.836);
   }
   .conatct_container_item1{
    width: 80%;
   }
  .lists{
      padding:10px;
  }
  .list:a{
      font-size: 20px;
  }
  .socials{
      display: flex;
      margin-left: auto;
      margin-right: auto;
  }
  .fab{
      color: white;
      font-size:20px;
      padding: 10px;
     
  }





   

  }  

  /*desktop*/
  @media only screen and (min-width: 768px) {
    
    body{
        padding: 2px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .main_container{
        
    }
    /*navbar styles start here*/
    .nav_bar{
        width: 100%;
        padding: 2px;
        display: flex;
        justify-content:space-between ;  
        

    }
    .logo{
        width: 15%;
        height: 100%;
        margin: 20px;
    
        }
        .logo_image{
            margin: auto;
            width: 100%;
            padding-top: 5px;
            margin-top: 5px;
    
        }
        .nav_list_container{
            width: 30%;
            padding-left:5px;
        }
        .nav_list{
            color: rgba(255, 255, 255, 0.705);
            display: flex;
           width:90%;
           text-align: start;
           margin-top:25px;
           justify-content:space-around;
           margin-top:40px;
            
            
            
        }
        .nav_list_item{
            list-style-type:none;
            width: 25%;
            text-align:center;
        }
        /*navbar styles end here*/

        /*head image styles start here*/

        .file_image{
            display: flex;
        flex-direction: column;
        width:70%;
        height: auto;
        text-align: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        }
        .head_image{
            width:70%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }
        .fylo_description{
            margin-top: 10px;
            color: white;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
    
        }
        .fylo_description_1{
            height: auto;
            width: 90%;
            font-weight: 14px;
            font-size:30px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .fylo_description_2{
            width:90%;
            padding:0px;
            height: 30%;
            font-size: 20px;
            size:50px;
            font-weight: normal;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
        }
        .btn_1{
            margin: 20px;
            width: 40%;
            size: 30px;
            font-weight: bolder;
            color: white;
            border-radius: 20px;
            border: turquoise 0px;
            height:45px;
            background-color: rgba(42, 226, 208, 0.781);
            margin-left: auto;
            margin-right: auto;
        }
        /*head image styles end here*/

        /*head fylo services styles start here*/
        .fylo_services_container{
            display: flex;
            text-align: center;
            justify-content:space-around;
            padding: 20px;
            color: white;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
        }
        .fylo_services_1 .file_service_2{
           
            width: 40%;
        }
        .fylo_services_description{
        width: 70%;
        text-align: center;
        font-size: 18px;
        margin:20px;
        margin-left: auto;
        margin-right: auto;
    }
    .fylo_explainer_container{
        display: flex;
        text-align: center;
        justify-content:space-around;
        padding: 20px;
        
    }
    .fylo_explainer_image_container{
        width: 50%;
        margin-left: 20px;



    }
    .fylo_explainer_image{
        width:100%;
    }
    .fylo_explainer_info_container{
        color: white;
        margin: 30px;
        width: 50%;
    }
    .fylo_explainer_info_head{
        margin: 20px;
        font-size: 45px;
        text-align: start;
        width: 70%;
    }
    .fylo_explainer_info_p1{
        text-align: start;
        margin: 25px;
        font-size:17px;
        width: 80%;
    }
    .fylo_link{
        width: 30%;
        display: flex;
        align-items: inherit;    
        text-decoration: none;
        color: rgba(156, 240, 240, 0.685);
        border-bottom: 1px solid cyan;
        font-size: 14px;
        padding-bottom: 3px;
        text-align:left;
        margin-left: 30PX;

    }
    .arrow{
        height: 100%;
        padding-bottom: 0px;
        margin-bottom: 0px;
        
    }
      /* fylo services styles ends here*/


      /* testimonials styles start here*/
    .testimonials_container{
        display: flex;
        width:95%;
        text-align:center;
        justify-content:space-around;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;

    }
    .testimonial-slides{
        width:27%;
        margin:10px;
        background-color:hsl(219, 30%, 18%);
        color: rgba(252, 250, 250, 0.692);
        padding:30px;
        margin-left: auto;
        margin-right: auto;
        border-radius:5px ;
    }
    .testimonial_info{
        font-size: 17px;
        text-align: start;
        margin-left: auto;
        margin-right: auto;
    }
    .details{
        display: flex;
        width: 70%;
        height:40px;
        justify-content: space-around;

    
    }
    .priflie_pic{
        border-radius: 50%;
        width:20%;
        margin-right:5px;
       
    }
    .details{
        display: flex;
        width: 70%;
        height:40px;
        justify-content: space-around;
        

    
    }
    .priflie_pic{
        border-radius: 50%;
        width:20%;
        margin-right:5px;
       
    }
    .titles_container{
        display: flex;
        text-align: left;
        flex-direction:column;
        justify-content: flex-start;
        height: 100%;
    }
    .name{
        margin: 0px;
        font-weight: bolder;
    }
    .title{
        margin: 0px;
        width: 100%;
        font-size: 14px;
    }
    /*testimonials styles end here*/


        /*sign_up styles starts here*/

        .sign_up_box_container{
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 50px;
            width:60%;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            background-color: hsl(217, 28%, 15%);
        }.sign_up_box_header{
            color: rgb(250, 250, 250);
            text-align: center;
            font-size:35px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        .sign_up_box_descptn{
            color: white;
            text-align: center;
            font-size:20px;
            width:90%;
            margin-left: auto;
            margin-right: auto;
        }
        .sign_up_box_input{
            display: flex; 
            text-align: center;
            justify-content: space-around;
            margin: 10px; 
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            
         }
        
           .email_field{
               margin: 10px;
               width:60%;
               height: 45px;
               border-radius:20px;
               border:1px solid white;
               
               
           }
           .sign_up_button{
            margin: 10px;
            margin-top:13px ;
            color: white;
            font-weight: bold;
            font-size: 16px;
            width:30%;
            height: 45px;
            border-radius:20px;
            border:1px solid rgb(46, 190, 190);
            background-color:rgb(46, 190, 190);
            
           }
            
           
        /*sign_up styles end here*/

        
        /*footer styles starts here*/
        .footer-container{
            margin-top: 30px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .footer_logo{
         width:100%;
         margin: 20px;
         height: 60px;
         border: 1px solid white;
        }
        
        /*footer styles end  here*/






  }